

.filtered-movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 2rem;
}


.btn {
width: 140px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #54a3ed;
  outline: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:hover {
    background-color: aliceblue;
}
  
  
  